# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- Commonly used libraries by Data Scientists.
- Some open source development environment tools.
- Introduction to arithmetic expression.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:

For Python:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. Keras
7. TensorFlow
8. PyTorch

For R:
1. ggplot
2. caret
3. stringr
4. dplyr
5. plotly

For Scala:
1. Vegas
2. BigDL

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| Rstudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# Addition 
5+5

10

In [4]:
# Multiplication
4*4

16

In [5]:
# Subtraction
3-3

0

In [7]:
# Division
6/2

3.0

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
a=200
b=60
c=a/b
print(c)

3.3333333333333335

## Author
Aditya Utkarsh Sinha